In [1]:
import pandas as pd
from trees import *

In [ ]:
raw_data = pd.read_csv('SP5001984.csv')

In [3]:
ret_data = raw_data[['date', 'RET', 'PERMNO']]
ret_data = ret_data.dropna(axis=0, how='any').drop_duplicates()
ret_data = ret_data[ret_data.RET != 'C']

/Users/JenniferZong/anaconda/envs/Py27/lib/python2.7/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [ ]:
nodenames = ret_data.PERMNO.unique()
df = ret_data.loc[lambda ret_data: ret_data.PERMNO == nodenames[0], :].copy()
df['Date'] = pd.to_datetime(df['date'])
df = df.drop('date', axis=1)
temp = pd.concat([df.set_index(keys='Date', drop=True)['RET']], axis=1)
temp.columns = [nodenames[0]]
for stock in nodenames[1:]:
    df = ret_data.loc[lambda ret_data: ret_data.PERMNO == stock, :].copy()
    df['Date'] = pd.to_datetime(df['date'])
    df = df.drop('date', axis=1)
    t = pd.concat([df.set_index(keys='Date', drop=True)['RET']], axis=1)
    t.columns = [stock]
    temp = pd.concat([temp, t], axis=1)
temp = temp.sort_index()

In [ ]:
df = price_data.loc[lambda price_data: price_data.PERMNO == nodenames[0], :].copy()
df['Date'] = pd.to_datetime(df['date'])
df = df.drop('date', axis=1)
temp = pd.concat([df.set_index(keys='Date', drop=True)['PRC']], axis=1)
temp.columns = [nodenames[0]]
for stock in nodenames[1:]:
    df = price_data.loc[lambda price_data: price_data.PERMNO == stock, :].copy()
    df['Date'] = pd.to_datetime(df['date'])
    df = df.drop('date', axis=1)
    t = pd.concat([df.set_index(keys='Date', drop=True)['PRC']], axis=1)
    t.columns = [stock]
    temp = pd.concat([temp, t], axis=1)
temp = temp.sort_index()

In [ ]:
div_data = raw_data[['date', 'DIVAMT', 'PERMNO']]
div_data = div_data.fillna(0).drop_duplicates()
df = div_data.loc[lambda div_data: div_data.PERMNO == nodenames[0], :].copy()
df['Date'] = pd.to_datetime(df['date'])
df = df.drop('date', axis=1)
temp = pd.concat([df.set_index(keys='Date', drop=True)['DIVAMT']], axis=1)
temp.columns = [nodenames[0]]
temp = temp.groupby(temp.index).agg({nodenames[0]:sum})
for stock in nodenames[1:]:
    df = div_data.loc[lambda div_data: div_data.PERMNO == stock, :].copy()
    df['Date'] = pd.to_datetime(df['date'])
    df = df.drop('date', axis=1)
    print stock
    t = pd.concat([df.set_index(keys='Date', drop=True)['DIVAMT']], axis=1)
    t.columns = [stock]
    t = t.groupby(t.index).agg({stock:sum})
    temp = pd.concat([temp, t], axis=1)
temp = temp.sort_index()

In [51]:
temp.iloc[-1].dropna()

ORCL    -0.006203
MSFT    -0.012083
TROW    -0.003707
ORCL    -0.006203
MSFT    -0.012083
TROW    -0.003707
Name: 2016-12-30 00:00:00, dtype: object

In [43]:
import csv

cusip = []
with open('SP500_constituents.txt', 'r') as f:
    next(f)  # skip headings
    reader = csv.reader(f, delimiter='\t')
    with open('SP500_ticker.txt', 'w') as f2:
        for i in reader:
            if int(i[2]) < 20161231 and (i[3] == '' or int(i[3]) > 20161231):
                cusip.append(i[-2])
                f2.write('%s,' % i[-2])

In [37]:
with open('SP500_permno.txt', 'w') as f:
    for i in permno:
        f.write('%s\n' % i)

505

In [49]:
t['2005-02-09':'2005-02-11']

<div>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>TAP</th>
    </tr>
    <tr>
      <th>Date</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>2005-02-09</th>
      <td>-0.030087</td>
    </tr>
    <tr>
      <th>2005-02-10</th>
      <td>-0.025170</td>
    </tr>
    <tr>
      <th>2005-02-11</th>
      <td>0.020237</td>
    </tr>
    <tr>
      <th>2005-02-10</th>
      <td>-0.021666</td>
    </tr>
    <tr>
      <th>2005-02-11</th>
      <td>0.010381</td>
    </tr>
  </tbody>
</table>
</div>